@using Spock_BugTracker.Helpers
@using Spock_BugTracker.Models
@using Microsoft.AspNet.Identity

@{
    var navHelper = new NavHelper();
}

<!doctype html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>Issue Tracker</title>

    <meta name="keywords" content="MVC C# BugTracker" />
    <meta name="description" content="Spock BugTracker">
    <meta name="author" content="Jason Twichell">

    <meta property="og:title" content="Issue Tracker">
    <meta property="og:description" content="An application to track software bugs">
    <meta property="og:image" content="https://localhost:44361/images/dtBugTrackerImage.png">
    <meta property="og:url" content="https://dt-bugtracker.azurewebsites.net">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/assets/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-datepicker/css/datepicker3.css" />

    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="~/assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" />
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="~/assets/vendor/morris/morris.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/assets/stylesheets/theme.css" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/assets/stylesheets/skins/default.css" />

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/assets/stylesheets/theme-custom.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />

    <!-- Head Libs -->
    <script src="~/assets/vendor/modernizr/modernizr.js"></script>

    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />


    @*Tickets Index*@
    <link href="~/Content/Ticket.css" rel="stylesheet" />

    <link href="~/Content/Custom.css" rel="stylesheet" />

</head>
<body>
    <section class="body">

        <!-- start: header -->
        <header class="header">
            <div class="logo-container">
                <a href="../" class="logo">
                    <img src="~/assets/images/logo.png" height="35" alt="JSOFT Admin" />
                </a>
                <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>

            <!-- start: search & user box -->
            <div class="header-right">

                <form action="pages-search-results.html" class="search nav-form">
                    <div class="input-group input-search">
                        <input type="text" class="form-control" name="q" id="q" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>

                <span class="separator"></span>

                <ul class="notifications">
                    <li>
                        <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
                            <i class="fa fa-envelope"></i>
                            <span class="badge">@*@NotificationHelper.GetNewUserNotificationCount()*@</span>
                        </a>

                        <div class="dropdown-menu notification-menu">
                            <div class="notification-title">
                                <span class="pull-right label label-default">@*@NotificationHelper.GetAllUserNotificationCount()*@</span>
                                Notifications
                            </div>

                            <div class="content">
                                <ul>
                                    @*@foreach (var notification in NotificationHelper.GetUnreadUserNotifications().ToList())
                                        {
                                            <li>
                                                <hr size=3 />

                                                @using (Html.BeginForm("MarkAsRead", "TicketNotifications"))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    @Html.Hidden("Id", notification.Id)

                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <figure class="image">
                                                                <img src="@notification.Sender.AvatarUrl" alt="@notification.Sender.Email" class="img-circle" width="25" />
                                                            </figure>
                                                        </div>
                                                        <div class="col-md-10">
                                                            <span class="title">@notification.Subject</span>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <span class="message text-justify"><b>@notification.NotificationBody</b></span>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div class="row">
                                                        <div class="col-md-12 text-center">
                                                            <button type="submit" class="btn btn-sm btn-primary">Mark as read</button>
                                                        </div>
                                                    </div>
                                                }
                                            </li>

                                        }*@
                                </ul>

                                <hr />

                                <div class="text-right">
                                    <a href="@Url.Action("MyNotifications", "TicketNotifications")" class="view-more">View All</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
                            <i class="fa fa-bell"></i>
                            <span class="badge">3</span>
                        </a>

                        <div class="dropdown-menu notification-menu">
                            <div class="notification-title">
                                <span class="pull-right label label-default">3</span>
                                Alerts
                            </div>

                            <div class="content">
                                <ul>
                                    <li>
                                        <a href="#" class="clearfix">
                                            <div class="image">
                                                <i class="fa fa-thumbs-down bg-danger"></i>
                                            </div>
                                            <span class="title">Server is Down!</span>
                                            <span class="message">Just now</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="clearfix">
                                            <div class="image">
                                                <i class="fa fa-lock bg-warning"></i>
                                            </div>
                                            <span class="title">User Locked</span>
                                            <span class="message">15 minutes ago</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="clearfix">
                                            <div class="image">
                                                <i class="fa fa-signal bg-success"></i>
                                            </div>
                                            <span class="title">Connection Restaured</span>
                                            <span class="message">10/10/2014</span>
                                        </a>
                                    </li>
                                </ul>

                                <hr />

                                <div class="text-right">
                                    <a href="#" class="view-more">View All</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

                <span class="separator"></span>

                @{
                    ApplicationUser user = null;
                    var userId = User.Identity.GetUserId();
                    var db = new ApplicationDbContext();
                    if (!string.IsNullOrEmpty(userId))
                    {
                        user = db.Users.Find(userId);
                    }
                }

                <div id="userbox" class="userbox">

                    @if (user != null && user.AvatarUrl != null)
                    {
                        <a href="#" data-toggle="dropdown">


                            <figure class="profile-picture">
                                <img src="@user.AvatarUrl" alt="@user.FullName" class="img-circle" data-lock-picture="@user.AvatarUrl" />
                            </figure>
                            <div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@JSOFT.com">
                                <span class="name">@user.FullName</span>
                                <span class="role"></span>
                            </div>
                            <i class="fa custom-caret"></i>
                        </a>

                    }

                    <div class="dropdown-menu">
                        <ul class="list-unstyled">
                            <li class="divider"></li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="@Url.Action("EditProfile", "Members")"><i class="fa fa-user"></i> My Profile</a>
                            </li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="#" data-lock-screen="true"><i class="fa fa-lock"></i> Lock Screen</a>
                            </li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="pages-signin.html"><i class="fa fa-power-off"></i> Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end: search & user box -->
        </header>
        <!-- end: header -->

        <div class="inner-wrapper">
            <!-- start: sidebar -->
            <aside id="sidebar-left" class="sidebar-left">

                <div class="sidebar-header">
                    <div class="sidebar-title">
                        Navigation
                    </div>
                    <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                        <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>

                <div class="nano">
                    <div class="nano-content">
                        <nav id="menu" class="nav-main" role="navigation">
                            <ul class="nav nav-main">

                                <li class="nav-active">
                                    <a href="@Url.Action("Dashboard", "Home")">
                                        <i class="fa fa-home" aria-hidden="true"></i>
                                        <span>Dashboard</span>
                                    </a>
                                </li>

                                @if (navHelper.UserCanAddTickets())
                                {
                                    <li class="nav-active">
                                        <a href="@Url.Action("Create", "Tickets")">
                                            <i class="fa fa-ticket" aria-hidden="true"></i>
                                            <span>Create New Ticket</span>
                                        </a>
                                    </li>
                                }





                                @*Viewing Project links based on role*@
                                @*<li class="nav-parent">
                                        <a>
                                            <i class="fa fa-users" aria-hidden="true"></i>
                                            <span>All Projects</span>
                                        </a>
                                        <ul class="nav nav-children">
                                            @foreach (var miniProject in db.Projects.Select(p => new { ProjectId = p.Id, Name = p.Name }).ToList())
                                            {
                                                <li>
                                                    <a href="@Url.Action("Details", "Projects", new { id = miniProject.ProjectId })">
                                                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                                                        @miniProject.Name
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </li>*@

                                @*@if (User.IsInRole("ProjectManager") || User.IsInRole("Developer") || User.IsInRole("Submitter"))
                                    {
                                        <li class="nav-parent">
                                            <a>
                                                <i class="fa fa-users" aria-hidden="true"></i>
                                                <span>My Projects</span>
                                            </a>
                                            <ul class="nav nav-children">
                                                @foreach (var miniProject in user.Projects.Select(p => new { ProjectId = p.Id, Name = p.Name }).ToList())
                                                {
                                                    <li>
                                                        <a href="@Url.Action("Details", "Projects", new { id = miniProject.ProjectId })">
                                                            <i class="fa fa-bookmark" aria-hidden="true"></i>
                                                            @miniProject.Name
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    }*@


                                @*Viewing Tickets links based on role*@
                                @*<li class="nav-active">
                                        <a href="@Url.Action("Index", "Tickets")">
                                            <i class="fa fa-home" aria-hidden="true"></i>
                                            <span>Ticket Index</span>
                                        </a>
                                    </li>*@
                                @*<li class="nav-parent">
                                        <a>
                                            <i class="fa fa-users" aria-hidden="true"></i>
                                            <span>All Tickets</span>
                                        </a>
                                        <ul class="nav nav-children">
                                            @foreach (var miniTicket in db.Tickets.Select(p => new { TicketId = p.Id, Title = p.Title }).ToList())
                                            {
                                                <li>
                                                    <a href="@Url.Action("Dashboard", "Tickets", new { id = miniTicket.TicketId })">
                                                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                                                        @miniTicket.Title
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </li>

                                    <li class="nav-parent">
                                        <a>
                                            <i class="fa fa-users" aria-hidden="true"></i>
                                            <span>Notifications</span>
                                        </a>
                                        <ul class="nav nav-children">
                                            <li>
                                                <a href="@Url.Action("Index", "TicketNotifications")">
                                                    <i class="fa fa-bookmark" aria-hidden="true"></i>
                                                    All Notifications
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("MyNotifications", "TicketNotifications")">
                                                    <i class="fa fa-bookmark" aria-hidden="true"></i>
                                                    My Notifications
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("DeleteAll", "TicketNotifications")">
                                                    <i class="fa fa-bookmark" aria-hidden="true"></i>
                                                    Delete All Notifications
                                                </a>
                                            </li>
                                        </ul>
                                    </li>*@

                                @*Admin specific links*@
                                @*@if (User.IsInRole("Admin"))
                                    {
                                        <li class="nav-active">
                                            <a href="@Url.Action("ManageRoles", "Admin")">
                                                <i class="fa fa-home" aria-hidden="true"></i>
                                                <span>Manage User Roles</span>
                                            </a>
                                        </li>

                                        <li class="nav-active">
                                            <a href="@Url.Action("Index", "TicketPriorities")">
                                                <i class="fa fa-home" aria-hidden="true"></i>
                                                <span>Manage Ticket Priorities</span>
                                            </a>
                                        </li>

                                        <li class="nav-active">
                                            <a href="@Url.Action("Index", "TicketStatus")">
                                                <i class="fa fa-home" aria-hidden="true"></i>
                                                <span>Manage Ticket Statuses</span>
                                            </a>
                                        </li>

                                        <li class="nav-active">
                                            <a href="@Url.Action("Index", "TicketTypes")">
                                                <i class="fa fa-home" aria-hidden="true"></i>
                                                <span>Manage Ticket Types</span>
                                            </a>
                                        </li>

                                    }*@

                                @*Submitter specific links*@
                                @*@if (User.IsInRole("Submitter"))
                                    {
                                        <li class="nav-active">
                                            <a id="lnkSweet">
                                                <i class="fa fa-home" aria-hidden="true"></i>
                                                <span>Create Ticket</span>
                                            </a>
                                        </li>*@





                                }


                                @*<li class="nav-active">
                                        <a href="@Url.Action("Index", "TicketHistories")">
                                            <i class="fa fa-home" aria-hidden="true"></i>
                                            <span>All Histories</span>
                                        </a>
                                    </li>*@
                            </ul>
                        </nav>
                    </div>
                </div>
            </aside>

            <!-- end: sidebar -->
            <section role="main" id="customBackground" class="content-body">
                @RenderBody()
            </section>
        </div>

        <aside id="sidebar-right" class="sidebar-right">
            <div class="nano">
                <div class="nano-content">
                    <a href="#" class="mobile-close visible-xs">
                        Collapse <i class="fa fa-chevron-right"></i>
                    </a>

                    <div class="sidebar-right-wrapper">

                        <div class="sidebar-widget widget-calendar">
                            <h6>Upcoming Tasks</h6>
                            <div data-plugin-datepicker data-plugin-skin="dark"></div>

                            <ul>
                                <li>
                                    <time datetime="2014-04-19T00:00+00:00">04/19/2014</time>
                                    <span>Company Meeting</span>
                                </li>
                            </ul>
                        </div>

                        <div class="sidebar-widget widget-friends">
                            <h6>Friends</h6>
                            <ul>
                                <li class="status-online">
                                    <figure class="profile-picture">
                                        <img src="~/assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                                <li class="status-online">
                                    <figure class="profile-picture">
                                        <img src="~/assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                                <li class="status-offline">
                                    <figure class="profile-picture">
                                        <img src="~/assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                                <li class="status-offline">
                                    <figure class="profile-picture">
                                        <img src="~/assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </section>

    <!-- Vendor -->
    <script src="~/assets/vendor/jquery/jquery.js"></script>
    <script src="~/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/assets/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="~/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/vendor/magnific-popup/magnific-popup.js"></script>
    <script src="~/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Specific Page Vendor -->
    <script src="~/assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
    <script src="~/assets/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
    <script src="~/assets/vendor/jquery-appear/jquery.appear.js"></script>
    <script src="~/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
    <script src="~/assets/vendor/jquery-easypiechart/jquery.easypiechart.js"></script>
    <script src="~/assets/vendor/flot/jquery.flot.js"></script>
    <script src="~/assets/vendor/flot-tooltip/jquery.flot.tooltip.js"></script>
    <script src="~/assets/vendor/flot/jquery.flot.pie.js"></script>
    <script src="~/assets/vendor/flot/jquery.flot.categories.js"></script>
    <script src="~/assets/vendor/flot/jquery.flot.resize.js"></script>
    <script src="~/assets/vendor/jquery-sparkline/jquery.sparkline.js"></script>
    <script src="~/assets/vendor/raphael/raphael.js"></script>
    <script src="~/assets/vendor/morris/morris.js"></script>
    <script src="~/assets/vendor/gauge/gauge.js"></script>
    <script src="~/assets/vendor/snap-svg/snap.svg.js"></script>
    <script src="~/assets/vendor/liquid-meter/liquid.meter.js"></script>
    <script src="~/assets/vendor/jqvmap/jquery.vmap.js"></script>
    <script src="~/assets/vendor/jqvmap/data/jquery.vmap.sampledata.js"></script>
    <script src="~/assets/vendor/jqvmap/maps/jquery.vmap.world.js"></script>
    <script src="~/assets/vendor/jqvmap/maps/continents/jquery.vmap.africa.js"></script>
    <script src="~/assets/vendor/jqvmap/maps/continents/jquery.vmap.asia.js"></script>
    <script src="~/assets/vendor/jqvmap/maps/continents/jquery.vmap.australia.js"></script>
    <script src="~/assets/vendor/jqvmap/maps/continents/jquery.vmap.europe.js"></script>
    <script src="~/assets/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js"></script>
    <script src="~/assets/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js"></script>


    <script src="~/Scripts/jquery.dataTables.min.js"></script>


    <!-- Theme Base, Components and Settings -->
    <script src="~/assets/javascripts/theme.js"></script>

    <!-- Theme Custom -->
    <script src="~/assets/javascripts/theme.custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/assets/javascripts/theme.init.js"></script>

    <!-- Examples -->
    <script src="~/assets/javascripts/dashboard/examples.dashboard.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>

    <script>
        //$(".tblTarget").DataTable();
        $(".searchTbl").DataTable();
    </script>

    <script>

        $("#lnkSweet").click(function () {
            AddTicket();
        });

        async function AddTicket() {
            const { value: formValues } = await Swal.fire({
                title: 'Multiple inputs',
                html:
                    '<input id="swal-input1" class="swal2-input">' +
                    '<input id="swal-input2" class="swal2-input">',
                focusConfirm: false,
                preConfirm: () => {
                    return [
                        document.getElementById('swal-input1').value,
                        document.getElementById('swal-input2').value
                    ]
                }
            })
            if (formValues) {
                Swal.fire(JSON.stringify(formValues))
            }
        }
    </script>


    @RenderSection("scripts", required: false)
</body>
</html>

