@{
    Layout = null;
}

<!doctype html>
<html class="fixed">
<head>
    <!-- Basic -->
    <meta charset="UTF-8">

    @*<meta http-equiv="refresh" content="5; url=@Url.Action("Register")" />*@

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/assets/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-datepicker/css/datepicker3.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/assets/stylesheets/theme.css" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/assets/stylesheets/skins/default.css" />

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/assets/stylesheets/theme-custom.css">

    <!-- Head Libs -->
    <script src="~/assets/vendor/modernizr/modernizr.js"></script>
</head>
<body>
    <!-- start: page -->
    <h2>Demo User</h2>

    <div class="row">
        <div class="col-md-3">
            @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("DemoEmail", "DemoAdminEmail")
                <a href="#" class="demoUserLink">
                    <section class="panel">
                        <header class="panel-heading bg-white">
                            <div class="panel-heading-icon bg-primary mt-sm">
                                <i class="fa fa-user"></i>
                            </div>
                        </header>
                        <div class="panel-body">
                            <h3 class="text-semibold mt-none text-center">Demo Admin</h3>
                            <p class="text-center">Logging in as the Demo Admin gives you full access to the BugTracker's suite of functionality...</p>
                            
                        </div>
                    </section>

                </a>
            }
        </div>

     

       
        <div class="col-md-3">
            @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("DemoEmail", "DemoProjectManagerEmail")
                <section class="panel">
                    <header class="panel-heading bg-white">
                        <div class="panel-heading-icon bg-primary mt-sm">
                            <i class="fa fa-rocket"></i>
                        </div>
                    </header>
                    <div class="panel-body">
                        <h3 class="text-semibold mt-none text-center">Demo Project Manager</h3>
                        <p class="text-center">Nullam quiris risus eget urna mollis ornare vel eu leo. Soccis natoque penatibus et magnis dis parturient montes. Soccis natoque penatibus et magnis dis parturient montes.</p>
                        <button type="submit" class="btn btn-xs btn-primary">Login</button>
                    </div>
                </section>
            }
            </div>

        <div class="col-md-3">
            @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("DemoEmail", "DemoDeveloperEmail")
                <section class="panel">
                    <header class="panel-heading bg-white">
                        <div class="panel-heading-icon bg-primary mt-sm">
                            <i class="fa fa-rocket"></i>
                        </div>
                    </header>
                    <div class="panel-body">
                        <h3 class="text-semibold mt-none text-center">Demo Developer</h3>
                        <p class="text-center">Nullam quiris risus eget urna mollis ornare vel eu leo. Soccis natoque penatibus et magnis dis parturient montes. Soccis natoque penatibus et magnis dis parturient montes.</p>
                        <button type="submit" class="btn btn-xs btn-primary">Login</button>
                    </div>
                </section>
            }
            </div>



        <div class="col-md-3">
            @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("DemoEmail", "DemoSubmitterEmail")
                <section class="panel">
                    <header class="panel-heading bg-white">
                        <div class="panel-heading-icon bg-primary mt-sm">
                            <i class="fa fa-rocket"></i>
                        </div>
                    </header>
                    <div class="panel-body">
                        <h3 class="text-semibold mt-none text-center">Demo Submitter</h3>
                        <p class="text-center">Nullam quiris risus eget urna mollis ornare vel eu leo. Soccis natoque penatibus et magnis dis parturient montes. Soccis natoque penatibus et magnis dis parturient montes.</p>
                        <button type="submit" class="btn btn-xs btn-primary">Login</button>
                    </div>
                </section>
            }
            </div>

        </div>

    <!-- end: page -->
    <!-- Vendor -->
    <script src="~/assets/vendor/jquery/jquery.js"></script>
    <script src="~/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/assets/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="~/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/vendor/magnific-popup/magnific-popup.js"></script>
    <script src="~/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="~/assets/javascripts/theme.js"></script>

    <!-- Theme Custom -->
    <script src="~/assets/javascripts/theme.custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/assets/javascripts/theme.init.js"></script>

    <script>
        $(".demoUserLink").click(function () {            
            $(this).closest("form").submit();
        });
    </script>



</body>
</html


